# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

veradco/demo/certs
veradco/certs
.idea/

veradco/serverd
veradco/veradcod

debug.yaml

test.sh

kustomize_poc.tgz
kustomize/base/certs
veradco/demo/from_kustomize.yaml
veradco/demo/tmp.base64
useful/build_plugins/veradco_and_built-ins/veradcod
useful/build_plugins/a_plugin/go.sum
useful/build_plugins/a_plugin/go.mod

docker/standalone/release

eu-central-1.integration

operator-sdk_linux_amd64

operator/veradco-operator/bin
veradco/demo/grpc/veradcod
veradco/grpc_plugins/dummy/docker/dummy
grpc_plugins/add_dummy_sidecar/docker/adddummysidecar
grpc_plugins/dummy/docker/dummy
grpc_plugins/valid/docker/valid
grpc_plugins/implicit_proxy_cache_populator/docker/implicit_proxy_cache_populator
grpc_plugins/forbid_tag/docker/forbidtag
